# vim: et:ts=2:sw=2:tw=0:wm=0:fdm=marker:ft=bash

strict_env

PATH_add "./bin"
PATH_add "./scripts"

[[ ! -f .dev.env ]] && echo -e "\nIt seems you don't have a dev.env file locally. We need this to run.\n"

case "${STZH_ENV:-dev}" in
  dev*)
    echo "Loading .dev.env"
    dotenv_if_exists "./.dev.env"
  ;;
  int*)
    echo "Loading .int.env"
    dotenv_if_exists "./.int.env"
  ;;
  prod*)
    echo "Loading .prod.env"
    dotenv_if_exists "./.prod.env"
  ;;
esac

# Add your local changes into the .envrc.local, which is a full blown .envrc file
# You can find the available commands here: https://direnv.net/man/direnv-stdlib.1.html
echo "Loading .envrc.local"
dotenv_if_exists "./.envrc.local"

