<div class="main-footer">
  <div class="main-footer--row">
    <div class="footer-logo">
      <a class="footer-logo--link" href="https://decidim.org">
        <img class="footer-logo--image" src="uploads/decidim/organization/logo/1/medium_LongHighRes_Zeichenfl채che_1.png" alt="Stadt Zuerich Logo" />
      </a>
    </div>
    <div class="logos-area">
      <%= link_to 'https://www.stadt-zuerich.ch/socialmedia', alt: 'Stadt Z체rich Social Media' do %>
          <svg class="social_media__icon" viewBox="0 0 54 58">
            <path fill="currentColor" d="M53.14,28.83l-.19-6-5.17.82-.2-1.29a.63.63,0,0,1,.05-.46.53.53,0,0,1,.3-.13l3.89-.62-1-6.52-5.93.92c-2.49.39-4.18,1.51-5,3.32a7.58,7.58,0,0,0-.47,4.48l.25,1.59-4.33.69.93,5.89,4.33-.69L42.85,45.5,51,44.2,48.71,29.53Zm-4.06,14-4.8.76L41.95,28.87l-4.33.69L37.22,27l4.33-.69L41,23.08a6.15,6.15,0,0,1,.33-3.48,4.6,4.6,0,0,1,3.76-2.36l4.25-.66.5,3.15-2.2.35a2.21,2.21,0,0,0-1.29.67,2.15,2.15,0,0,0-.48,1.88l.47,3,4.95-.78.08,2.56-4.63.73ZM34.79,2.71a12.42,12.42,0,0,1-1.62.93,12.51,12.51,0,0,1-1.71.67l0,0A6.39,6.39,0,0,0,33.51.37a12.57,12.57,0,0,1-1.73,1.26,12.47,12.47,0,0,1-1.93,1h0A6.25,6.25,0,0,0,25,1.39a6.38,6.38,0,0,0-4.68,8.8,17.81,17.81,0,0,1-14-4.32,6.46,6.46,0,0,0,3.4,8.07,6.21,6.21,0,0,1-3-.29A6.38,6.38,0,0,0,12.86,19a6.23,6.23,0,0,1-2.78.6A6.32,6.32,0,0,0,16.65,23,12.55,12.55,0,0,1,7.92,27.2a17.66,17.66,0,0,0,10,1.15c11.52-2,16.29-13.05,14.34-21.84A12.91,12.91,0,0,0,34.79,2.71ZM28.15,20a15.5,15.5,0,0,1-10.51,6.71,15.62,15.62,0,0,1-3.07.24,14.34,14.34,0,0,0,3.36-2.8l3.15-3.56-4.7.74a4.54,4.54,0,0,1-3-.6l.26-.12L20,17.5l-7.14-.19a4.64,4.64,0,0,1-3.37-1.63l.44-.05,5.85-.84-5.39-2.42A4.71,4.71,0,0,1,7.76,9.06a19.52,19.52,0,0,0,12.73,2.83l2.25-.28-.88-2.08a4.73,4.73,0,0,1,.2-4.12,4.54,4.54,0,0,1,6.74-1.47,4.25,4.25,0,0,1,1.81,3A17.23,17.23,0,0,1,28.15,20Zm-6.59,24.3L15.9,40.08a2.67,2.67,0,0,0-4.22,1.73l-1,6.42a2.67,2.67,0,0,0,2.22,3.05,2.63,2.63,0,0,0,.41,0,2.7,2.7,0,0,0,.85-.14l6.67-2.24a2.67,2.67,0,0,0,.73-4.68Zm-.64,2.3a1,1,0,0,1-.64.76L13.6,49.55a1,1,0,0,1-1.25-1.06l1-6.42a1,1,0,0,1,1.52-.62l5.66,4.17A1,1,0,0,1,20.92,46.55Zm10.2-7c-.86-1.43-2.74-2.25-6.48-2.84L11.06,34.54c-3.83-.61-5.9-.37-7.17.8s-1.54,3.07-2,5.74l-.8,5.08c-.82,5.16,0,8,6.67,9l13.57,2.15c3.24.51,5.11.34,6.45-.58S30,54,30.5,50.81l.8-5.08C31.75,42.92,32,41,31.12,39.53Zm-1.5,5.93-.8,5.08c-.43,2.68-1,4.17-2,4.81s-2.49.73-5.21.3L8.06,53.5c-2.68-.42-4.3-1.14-5-2.2s-.67-2.39-.28-4.88l.8-5.08c.37-2.33.63-4,1.44-4.75a3.73,3.73,0,0,1,2.56-.67,21,21,0,0,1,3.18.3l13.57,2.15c3.1.49,4.73,1.12,5.28,2h0C30.22,41.35,30,43.1,29.62,45.46Z"></path>
          </svg>
        Stadt Z체rich auf Social Media
      <% end %>
    </div>
    <nav class="main__footer__nav">
      <ul class="footer-nav">
        <li><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">Stadt Z체rich, 2021, CC BY-SA 4.0</a></li>
        <% organization_pages = current_organization.static_pages_accessible_for(current_user) %>
        <% if organization_pages.any? %>
          <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
            <% topic_pages = page_topic.accessible_pages_for(current_user) %>
            <% if topic_pages.any? %>
              <li><%= link_to translated_attribute(page_topic.title), decidim.page_path(topic_pages.first) %></li>
            <% end %>
          <% end %>
          <% organization_pages.where(show_in_footer: true).each do |page| %>
            <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
          <% end %>
        <% end %>
        <li><%= link_to t("layouts.decidim.footer.download_open_data"), decidim.open_data_download_path %></li>
      </ul>
    </nav>
  </div>
</div>
