<div class="main-footer">
  <div class="main-footer--row">
    <div class="logos-area">
      <%= link_to image_tag('/ico_social_media_icongroup.svg'), 'https://www.stadt-zuerich.ch/socialmedia', alt: 'Stadt Zürich Social Media' %>
    </div>
    <nav class="main__footer__nav">
      <ul class="footer-nav">
        <li><a href="https://creativecommons.org/licenses/by-sa/4.0/deed.de">Stadt Zürich, 2021, CC BY-SA 4.0</a></li>
        <% organization_pages = current_organization.static_pages_accessible_for(current_user) %>
        <% if organization_pages.any? %>
          <% current_organization.static_page_topics.where(show_in_footer: true).each do |page_topic| %>
            <% topic_pages = page_topic.accessible_pages_for(current_user) %>
            <% if topic_pages.any? %>
              <li><%= link_to translated_attribute(page_topic.title), decidim.page_path(topic_pages.first) %></li>
            <% end %>
          <% end %>
          <% organization_pages.where(show_in_footer: true).each do |page| %>
            <li><%= link_to translated_attribute(page.title), decidim.page_path(page) %></li>
          <% end %>
        <% end %>
        <li><%= link_to t("layouts.decidim.footer.download_open_data"), decidim.open_data_download_path %></li>
      </ul>
    </nav>
  </div>
</div>