// // Variables
// 
// $primary: #ef604d;
// $primary-rgb: 239,96,77;
// $secondary: #599aa6;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
// 
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
// 
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
// 
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
// 
// // Define custom properties as css color variables
// 
// :root{
//   --primary: #{$primary};
//   --primary-rgb: #{$primary-rgb};
//   --secondary: #{$secondary};
//   --secondary-rgb: #{$secondary-rgb};
//   --success: #{$success};
//   --success-rgb: #{$success-rgb};
//   --warning: #{$warning};
//   --warning-rgb: #{$warning-rgb};
//   --alert: #{$alert};
//   --alert-rgb: #{$alert-rgb};
//   --proposals: #{$proposals};
//   --actions: #{$actions};
//   --debates: #{$debates};
//   --meetings: #{$meetings};
//   --twitter: #{$twitter};
//   --facebook: #{$facebook};
//   --google: #{$google};
// }

@import "decidim/application";

// MODIFICATIONS FOR DECIDIM ZUERICH

h1, h2, h3, h4, h5, h6, .button {
  font-family: HelveticaNeueLTW01_55Roman,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hero::after, .highligted-content-banner::after, .process-header__main::after, .consultations-header__main::after {
  background-color: transparent !important;
}

.title-bar, .navbar, .off-canvas {
  background-color: initial;
  color: $black !important;

  a {
    color: inherit !important;
  }
  a:hover, a:focus {
    color: var(--primary) !important;
  }

  .close-button {
    color: $black !important;
  }

  .topbar__dropmenu.language-choose {
    left: 0;
    right: 0;
    padding-left: .5rem;
    background: $light-gray;
  }
}
.logo-wrapper span {
  color: inherit !important;
}
.off-canvas {
  background-color: $light-gray;
}

.main-nav__link a, .card__link, .author__name {
  color: var(--primary) !important;
}

.process_stats .process_stats-item .icon, .white-button, .white-button:hover, .supports-list .author .author__name {
  color: var(--secondary);
}

.process-stats__data::after {
  border-left: 2px solid var(--primary)
}

.button.secondary {
  background-color: var(--secondary)
}

.upcoming-events .card {
  a {
    color: var(--primary) !important;
  }
}

// By default, hide maps, and show them using JS
.google-map {
  display: none;
}

.address {
  flex-direction: column;

  .address__info {
    margin-bottom: 1em;
  }

  .map-info__content {
    padding: 0;
  }
}

.subhero {
  text-align: left;
}

body, .off-canvas-wrapper, .home-section:nth-of-type(2n+1) {
  background: #fff;
}

.card {
  border-radius: 0;
  transition: box-shadow .3s,-webkit-box-shadow .3s;

  &:not(.card--secondary):hover {
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
  }

  .card__header {
    .card__title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .author--inline {
      display: block;
    }
  }

  .card__footer, .card__top {
    background: #fff;
  }
}

.card-grid .card {
  width: 100%;
}

.title-bar .topbar__dropmenu.language-choose {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  background: #fff;
  padding: .65625rem .6875rem;
  transition: border-color .3s,background-color .3s,border-color .3s;

  &:hover, &:focus, &:focus-within {
    border-color: var(--primary);
    background-color: var(--primary);
    color: #fff;
  }

  .dropdown.menu {
    > li.is-dropdown-submenu-parent > a {
      padding: 0;

      &:after {
        display: none;
      }

      &:hover {
        text-decoration: none;
        color: inherit !important;
      }
    }

    .is-dropdown-submenu {
      top: 1.95rem;
      left: -.7rem;
      box-shadow: none;
      border: 1px solid #DEDEDE;
      border-radius: 0;
      text-decoration: none;
      color: #3d393c;
      min-width: unset;

      li.is-submenu-item {
        border: none;

        &:hover {
          text-decoration: none;
          background-color: var(--primary);
          color: #fff;
        }
      }

      a {
        text-decoration: none;
        color: inherit !important;
        padding: .6875rem 1.3125rem;

        &:focus {
          outline: none;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &:after, &:before {
        display: none;
      }
    }
  }
}

form[action^="/search"] .input-group {
  border: 1px solid #999;
  border-radius: 3px;
  background: #fff;
  transition: color .3s ease-in-out;
  position: relative;

  input {
    color: var(--primary) !important;
  }

  input:focus {
    color: #070250 !important;
  }

  input, input:focus {
    background: inherit !important;
    border: none;
    padding: .565rem 4.5rem .565rem .565rem;
    box-shadow: none;

    &::placeholder {
      color: var(--primary) !important;
    }
  }
  .icon {
    color: $black !important;
  }

  .button-wrapper, .input-group-button {
    position: initial;
    display: initial;

    button {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMi45IDEyLjFMOC4zIDcuNmMuNy0uOCAxLjEtMS44IDEuMS0yLjlDOS40IDIuMSA3LjMgMCA0LjcgMFMwIDIuMSAwIDQuN3MyLjEgNC43IDQuNyA0LjdjMS4xIDAgMi4xLS40IDIuOS0xLjFsNC41IDQuNWMuMS4xLjIuMS40LjFzLjMgMCAuNC0uMWMuMS0uMS4xLS41IDAtLjd6TTEgNC43QzEgMi43IDIuNyAxIDQuNyAxczMuNyAxLjcgMy43IDMuNy0xLjcgMy43LTMuNyAzLjdTMSA2LjcgMSA0Ljd6Ii8+PC9zdmc+);
      background-repeat: no-repeat;
      background-size: contain;
      width: 13px;
      height: 14px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: .5rem;
      -webkit-transition: right .6s ease-in-out .3s;
      transition: right .6s ease-in-out .3s;
      background-color: transparent;
      border: none;
      font-size: 0;
      z-index: 3;
      padding: 0 8px;

      svg {
        display: none;
      }
    }
  }

  &:focus-within, &:hover {
    color: #070250;
    border-color: #070250;
  }
}

// END MODIFICATIONS

