// // Variables
// 
// $primary: #ef604d;
// $primary-rgb: 239,96,77;
// $secondary: #599aa6;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
// 
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
// 
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
// 
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
// 
// // Define custom properties as css color variables
// 
// :root{
//   --primary: #{$primary};
//   --primary-rgb: #{$primary-rgb};
//   --secondary: #{$secondary};
//   --secondary-rgb: #{$secondary-rgb};
//   --success: #{$success};
//   --success-rgb: #{$success-rgb};
//   --warning: #{$warning};
//   --warning-rgb: #{$warning-rgb};
//   --alert: #{$alert};
//   --alert-rgb: #{$alert-rgb};
//   --proposals: #{$proposals};
//   --actions: #{$actions};
//   --debates: #{$debates};
//   --meetings: #{$meetings};
//   --twitter: #{$twitter};
//   --facebook: #{$facebook};
//   --google: #{$google};
// }

@import "decidim/application";

// MODIFICATIONS FOR DECIDIM ZUERICH

h1, h2, h3, h4, h5, h6, .button {
  font-family: HelveticaNeueLTW01_55Roman,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.hero::after, .highligted-content-banner::after, .process-header__main::after, .consultations-header__main::after {
  background-color: transparent !important;
}

.title-bar, .navbar, .off-canvas {
  background-color: initial;
  color: $black !important;

  a {
    color: inherit !important;
  }
  a:hover, a:focus {
    color: var(--primary) !important;
  }

  .close-button {
    color: $black !important;
  }

  .topbar__dropmenu.language-choose {
    left: 0;
    right: 0;
    padding-left: .5rem;
    background: $light-gray;
  }
}
.logo-wrapper span {
  color: inherit !important;
}
.off-canvas {
  background-color: $light-gray;
}

.card__link, .author__name {
  color: var(--primary) !important;
}

.process_stats .process_stats-item .icon, .white-button, .white-button:hover, .supports-list .author .author__name {
  color: var(--secondary);
}

.process-stats__data::after {
  border-left: 2px solid var(--primary)
}

.button.secondary {
  background-color: var(--secondary)
}

.upcoming-events .card {
  a {
    color: var(--primary) !important;
  }
}

// By default, hide maps, and show them using JS
.google-map {
  display: none;
}

.address {
  flex-direction: column;

  .address__info {
    margin-bottom: 1em;
  }

  .map-info__content {
    padding: 0;
  }
}

.subhero {
  text-align: left;
}

body, .off-canvas-wrapper, .home-section:nth-of-type(2n+1) {
  background: #fff;
}

.card {
  border-radius: 0;
  transition: box-shadow .3s,-webkit-box-shadow .3s;

  &:not(.card--secondary):hover {
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
  }

  .card__header {
    .card__title {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .author--inline {
      display: block;
    }
  }

  .card__footer, .card__top {
    background: #fff;
  }
}

.card-grid .card {
  width: 100%;
}

.title-bar .dropdown.menu {
  > li.is-dropdown-submenu-parent > a {
    padding: 0;

    &:after {
      display: none;
    }

    &:hover {
      text-decoration: none;
      color: inherit !important;
    }
  }

  .menu.is-dropdown-submenu.submenu {
    top: 1.95rem;
    left: -.75rem;
    box-shadow: none;
    border: 1px solid #DEDEDE;
    border-radius: 0;
    text-decoration: none;
    color: #3d393c;
    min-width: unset;
    box-shadow: 0 0 5px rgba(0,0,0,.3);

    li.is-submenu-item {
      border: none;

      &:hover {
        text-decoration: none;
        background-color: var(--secondary);
        color: #fff;
      }
    }

    a {
      text-decoration: none;
      color: inherit !important;
      padding: .6875rem 1.3125rem;

      &:focus {
        outline: none;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &:after, &:before {
      display: none;
    }
  }
}

.title-bar .topbar__dropmenu.language-choose {
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  background: #fff;
  padding: .65625rem .6875rem;
  transition: border-color .3s,background-color .3s,border-color .3s;

  &:hover, &:focus, &:focus-within {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: #fff;
  }
}

form[action^="/search"] .input-group {
  border: 1px solid #999;
  border-radius: 3px;
  background: #fff;
  transition: color .3s ease-in-out;
  position: relative;

  input {
    color: var(--secondary) !important;
  }

  input:focus {
    color: #070250 !important;
  }

  input, input:focus {
    background: inherit !important;
    border: none;
    padding: .565rem 4.5rem .565rem .565rem;
    box-shadow: none;

    &::placeholder {
      color: var(--secondary) !important;
    }
  }
  .icon {
    color: $black !important;
  }

  .button-wrapper, .input-group-button {
    position: initial;
    display: initial;

    button {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0xMi45IDEyLjFMOC4zIDcuNmMuNy0uOCAxLjEtMS44IDEuMS0yLjlDOS40IDIuMSA3LjMgMCA0LjcgMFMwIDIuMSAwIDQuN3MyLjEgNC43IDQuNyA0LjdjMS4xIDAgMi4xLS40IDIuOS0xLjFsNC41IDQuNWMuMS4xLjIuMS40LjFzLjMgMCAuNC0uMWMuMS0uMS4xLS41IDAtLjd6TTEgNC43QzEgMi43IDIuNyAxIDQuNyAxczMuNyAxLjcgMy43IDMuNy0xLjcgMy43LTMuNyAzLjdTMSA2LjcgMSA0Ljd6Ii8+PC9zdmc+);
      background-repeat: no-repeat;
      background-size: contain;
      width: 13px;
      height: 14px;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      right: .5rem;
      -webkit-transition: right .6s ease-in-out .3s;
      transition: right .6s ease-in-out .3s;
      background-color: transparent;
      border: none;
      font-size: 0;
      z-index: 3;
      padding: 0 8px;

      svg {
        display: none;
      }
    }
  }

  &:focus-within, &:hover {
    color: #070250;
    border-color: #070250;
  }
}

.topbar__user__logged .dropdown.menu > li.is-dropdown-submenu-parent {
  > a {
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: .565rem 4.5rem .565rem .565rem;
    background: var(--secondary);
    border-color: var(--secondary);
    border-radius: 2px;
    color: #fff !important;

    &:hover {
      color: #fff !important;
    }

    &:after {
      display: none;
      border: 0;
      height: 100%;
      width: 12px;
      top: calc(50% - 6px);
      right: 15px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEyIDE0Ij48cGF0aCBmaWxsPSIjZmZmIiBkPSJNOCA2LjdjLjMtLjIuNS0uNC44LS43IDEuMy0xLjYgMS4xLTMuOS0uNC01LjJDNy42LjIgNi43LS4xIDUuNyAwYy0xIC4xLTEuOC42LTIuNSAxLjMtMS4zIDEuNi0xLjEgMy45LjUgNS4yLjEuMS4yLjIuMy4yLTIuMy44LTQgMy4xLTQgNS44IDAgLjMuMi41LjUuNWgxMWMuMyAwIC41LS4yLjUtLjUgMC0yLjctMS43LTQuOS00LTUuOHpNNCAyYy40LS42IDEuMS0uOSAxLjgtMUg2Yy42IDAgMS4yLjIgMS43LjYgMS4xIDEgMS4zIDIuNy4zIDMuOC0uNC42LTEuMS45LTEuOCAxLS43IDAtMS4zLS4yLTEuOS0uNkMzLjIgNC44IDMuMSAzLjEgNCAyek0xIDEyYy4yLTIuNiAyLjQtNC42IDUtNC42czQuNyAyIDUgNC42SDF6Ii8+PC9zdmc+);
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      display: inline-block;
    }
  }

  .menu.is-dropdown-submenu {
    top: calc(100% + 11px);
    right: 0;
    left: auto;
    width: 20.4375rem;

    &:before {
      display: initial;
      border-bottom-color: var(--secondary);
      left: unset;
      right: 9px;
    }

    .is-dropdown-submenu-item {
      padding: 0;

      &:hover {
        background-color: unset;
        color: unset;
      }

      a {
        padding: 1.1875rem 1.8125rem;
        background-color: var(--secondary);
        color: #fff !important;
        transition: all .3s;

        &:hover {
          background-color: var(--primary);
        }

        &.sign-out-link {
          background-color: unset;
          color: var(--secondary) !important;
          margin: 1rem;
          border: 1px solid var(--secondary);
          border-radius: 2px;
          transition: all .3s;

          &:hover {
            background-color: var(--primary);
            border-color: var(--primary);
            color: #fff !important;
          }
        }
      }
    }
  }
}

.topbar__edit__link {
  margin-left: 10px;
}

.logo-wrapper img {
  max-width: 265px;
  max-height: 79px;
}

@media (min-width: 640px) {
  .main-nav {

    .main-nav__link {
      font-weight: bold;
      padding: 0;

      a {
        color: var(--secondary) !important;
        box-shadow: none;
        padding: 2.4375rem .9375rem;
      }

      &.main-nav__link--active {
        box-shadow: inset 0 -3px 0 0 #DEDEDE;

        a {
          color: #737373 !important;
        }
      }

      &:hover {
        box-shadow: inset 0 -3px 0 0 var(--primary);

        a {
          color: var(--primary) !important;
          text-decoration: none;
        }
      }
    }
  }
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
  box-shadow: none;
  border: 1px solid #999;
  border-radius: 3px;
  color: var(--secondary);
  padding: .65625rem 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;

  &:hover, &:focus {
    color: var(--primary);
    border-color: #070250;
    outline: 0;
  }

  &.is-invalid-input {
    border-color: #d0021b;
    color: #d0021b;
    background: none;
  }
}

.is-invalid-label {
  color: #d0021b;
}

// END MODIFICATIONS

